<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>dashbaord</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/6aa51d3dec.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../public/dashbaord.css">
        
    </head>
    <body>
        <div class="side-menu">
            <div class="brand-name">
                <h1>Brand</h1>
            </div>
            <ul>
                <li><img src="logo.png" alt="">&nbsp; Dashboard</li>
                <li><i class="fas fa-chart-line"></i>Dashboard</li>
                <li>Dashboard</li>
                <li>Dashboard</li>
                <li>Dashboard</li>
                <li>Dashboard</li>
                <li>Dashboard</li>
                <li>Dashboard</li>
            </ul>
        </div>

    </body>

</html>