doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title CodeQueen LMS signup
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='./CSS/index.css')
.header
  img#logoArea(src='./Images/logo.png')
  span#titleArea LEARNING MANAGENMENT SYSTEM.
  .background(style="background-image: url('./Images/bg.jpg');")
    .card-body
      form(method='POST' action='/signUp' name='signUpForm')
        .transbox
          #signInLabel Sign in
          div
            input#username(type='text' name='username' placeholder='Username')
            p.username_info.warnP  
          div
            input#password1(type='password' name='password' autocomplete='off' placeholder='Password')
            p.password1_info.warnP
          #submitDiv
            input#submit.button(type='submit' value='Sign in')
    script(src='/javascript/signUpVal.js')
